<div class="new-room-button">
    <button (click)="openDialog()" mat-raised-button color="accent">Create New Room</button>
</div>

<div *ngIf="(rooms | async)?.length <= 0" fxLayoutAlign="center center">
  No rooms created yet!
</div>

<div fxLayout="row" fxLayoutWrap fxLayoutAlign="start center">
    <div *ngFor="let room of rooms | async" class="rooms-row">
        <mat-card class="room-card">
            <p class="delete-button" (click)="deleteRoom(room)">x</p>
            <mat-card-header>
              <mat-card-title>Room ID: {{room.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions *ngIf="room.$key" fxLayoutAlign="space-around center">
              <button mat-button [routerLink]="['/room', room.$key, 'white']">JOIN WHITE</button>
              <button mat-button [routerLink]="['/room', room.$key, 'black']">JOIN BLACK</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
